@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 20px;
  color: white;

  --background: #17181a;
  --background-light: #1f2124;
  --background-lighter: #242930;
  --background-light-transparent: rgba(31, 33, 36, 0.5);

  --primary: #3181bf;
  --secondary: #1e5178;
  --tertiary: #143b59;

  font-variant-ligatures: none;
}

select, option {
  font: -moz-pull-down-menu;
}

@layer base {
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  :root {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer utilities {
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text-clamp {
    font-size: clamp(1rem, 2vw, 1.5rem);
  }

  .oneko {
    display: inline-block;
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
    background-image: url(/images/oneko.gif);
    animation: sleep 1s infinite;
    cursor: pointer
  }
  .oneko:hover {
    animation:2.5s 1 forwards wakeup
  }
  @media (prefers-reduced-motion) {
    .oneko {
      display: none
    }
  }
  @media only screen and (max-width: 600px) {
    .nav-content[data-astro-cid-ymhdp2rl] {
      margin-top: 1em;
      position: relative;
      flex-direction: column
    }
  }
  @keyframes sleep {
    0%,
    50% {
      background-position:-64px 0
    }
    50.00001%,
    to {
      background-position:-64px -32px
    }
  }
  @keyframes wakeup {
    0%,
    20% {
      background-position:-160px 0
    }
    20.00001%,
    40% {
      background-position:-192px 0
    }
    40.00001%,
    60% {
      background-position:-224px 0
    }
    60.00001%,
    80% {
      background-position:-96px -64px
    }
    80.00001%,
    to {
      background-position:-96px -96px
    }
  }

  .overflow-scroll::-webkit-scrollbar {
    display: none;
  }

  .pixelated {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
}

@layer components {
  .tabbutton {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tabbutton::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.25rem;
    border-radius: 0.25rem;
    animation: underline-shrink 0.2s ease-in-out;
  }

  .tabbutton.active::after, .tabbutton:hover::after {
    animation: underline-expand 0.2s ease-in-out;
    background-color: var(--primary);
  }

  a:not(.no-style) {
    text-decoration: none;
    transition: color 0.2s;
    position: relative;
  }

  a:not(.no-style)::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    display: block;
    width: 100%;
    height: 0.25rem;
    border-radius: 0.25rem;
    animation: underline-shrink 0.2s ease-in-out;
  }

  a:not(.no-style):hover {
    color: var(--primary);
  }

  a:not(.no-style).active::after, a:not(.no-style):hover::after {
    animation: underline-expand 0.2s ease-in-out;
    background-color: var(--primary);
  }

  code:not(pre code) {
    background-color: var(--background-lighter);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }

  input.vertical[type=range] {
      writing-mode: vertical-lr;
      direction: rtl;
      appearance: slider-vertical;
      width: 16px;
      vertical-align: bottom;
  }

  .color-picker {
    background-color: var(--background-light) !important;
    border-radius: 0.5rem !important;
    font-family: unset !important;
    z-index: 60 !important;

    & div {
      z-index: 60 !important;
    }

    & svg {
      fill: currentColor !important;

      &:hover {
        background-color: unset !important;
      }
    }

    & input {
      background-color: var(--background-light) !important;
      border-radius: 0.2rem !important;
      color: white !important;
      border: var(--background-lighter) !important;
      outline: var(--background-lighter) !important;
    }
  }
}

@keyframes underline-expand {
  0% {
    width: 0;
    background-color: transparent;
  }

  100% {
    width: 100%;
    background-color: var(--primary);
  }
}

@keyframes underline-shrink {
  0% {
    width: 100%;
    background-color: var(--primary);
  }

  100% {
    width: 0;
    background-color: transparent;
  }
}

.markdown {
  & code {
    white-space: pre-wrap;
    font-family: 'Fira Mono', monospace;
  }

  & pre:has(code) {
    background-color: var(--background-lighter);
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: scroll;
  }

  & pre code {
    overflow-x: hidden;
  }

  & img {
    max-width: 100%;
    border-radius: 0.5rem;
  }

  & p {
    padding: 0.5rem 0;
  }

  & h1, h2, h3, h4 {
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
  }


  & ul li {
    padding: 0.25rem 1rem;
  }

  & ul li::before {
    content: "•";
    color: var(--primary);
    display: inline-block;
    width: 1em;
    font-size: 1rem;
    margin-left: -1em;
  }
}

.recharts-cartesian-grid line {
  stroke: var(--background-lighter);
}

.recharts-rectangle.recharts-tooltip-cursor {
  fill: var(--background-lighter);
}

.recharts-cartesian-axis-tick line, .recharts-cartesian-axis-line {
  stroke: var(--background-lighter);
}

.table-alternate-colors tbody > tr:nth-child(odd) {
  background-color: var(--background-light);
}